<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Json Api</title>
    </head>
    <body>
        <h1>API JSON</h1>
        {{data}}
    </body>
</html>
