{# src CloudFutbol:JuegoBundle:Resources:views:Default:clasificacion.html.twig #}

<html>
<head>
	<title>Ficha Jugador</title>
</head>
	<body>
		<strong>perfil de :</strong>  {{ name}} <br />
		<strong>puntos:</strong> {{ puntos }} <br />
		<strong>clasificacion :</strong>{{ clasificacion }}<br />
	</body>
</html>
